// Colors
:root {
    --background: rgb(18, 18, 18);
    --background-light: rgb(69, 14, 14);
    --main: rgb(247, 247, 247);
    --red: rgb(192, 19, 19);
  }
  
  // Main Styles
  body {
    margin: 0;
    background-color: var(--background);
    color: var(--main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      background-color: var(--background-light);
      padding: 0.5rem;

      img {
        height: 2rem;
      }
  
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--main);
        text-decoration: none;
  
        &:visited {
          color: var(--main);
        }
      }
    }
  
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      flex-grow: 1;
    }
  
    footer {
      background-color: var(--background-light);
      padding: 1rem;
    }
  }
  
  // Custom Classes
  :root {
    .error {
      color: var(--red);
    }
  }
  
  // Default Overrides
  :root {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  
    button {
      cursor: pointer;
    }
  }
  